doctype html
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/tienich.css")
    link(rel="stylesheet", href="css/responsive.css")
    title Web bất động sản
    style.
  body
    header
      nav
        ul.menu

          li.item
            a(href='./index.html') Home
          li.item
            a(href='#') About
          li.item
            a(href='#') Blog
          li.item
            a(href='#') Blog
          li.item
            a(href='#') Blog
          li.item
            a(href='#') Contact
          li.toggle
            a(href='#')
              i.fas.fa-bars
    main
      section#t1
        .sw-main
            .sw-item
                .sw-item1
                    .sw-tienich
                        .sw-tienich-item
                          img(src="./images/tienich1.png", alt="")
                        .sw-tienich-item
                          img(src="./images/tienich2.png", alt="")
                        .sw-tienich-item
                          img(src="./images/tienich3.png", alt="")
                        .sw-tienich-item
                          img(src="./images/tienich4.png", alt="")
                    p Tạm gác những bộn bề của cuộc sống, để dành trọn vẹn những khoảnh khắc tuyệt vời bên gia đình và bạn bè thông qua những hoạt động, trải nghiệm được lấy cảm hứng từ đất nước Mặt trời mọc.
                    p Hướng đến việc kết nối cộng đồng, tạo dựng các giá trị văn minh, hiện đại, mỗi cư dân đều sẽ được tận hưởng những tiện ích chất lượng, môi trường sống an ninh 24/24, vun đắp nền tảng vững chắc cho tương lai.
            .sw-item
                .sw-item2
                    img(src="./images/tienich5.png", alt="")
                    
                    h2.ti "Lối sống chuẩn phong cách nhật"
                    img.logotienich(src="./images/logotienich.png", alt="")

      section#t2
        .sw-mainn
          p TIỆN ÍCH ĐA CHỨC NĂNG
          img(src="./images/tienichdachucnang.png", alt="")
        

      section#t3
        .sw-mainn
          h2 TRUNG TÂM VĂN HÓA GIẢI TRÍ YOKO
          p Quần thể phức hợp tiện ích Yoko Clubhouse đem đến phong cách sống đa trải nghiệm cùng đặc quyền sống đẳng cấp dành riêng cho cư dân Takara Residence.
        
        .sw-mainn
          
          .sw-mainnn
            img.logotienich2(src="./images/logotienich2.png", alt="")
            img(src="./images/tienich6.png", alt="")
        
         
      section#t4
        .sw-main
          img(src="./images/tienich7.png", alt="")
          img.logotienich3(src="./images/logotienich3.png", alt="")
        .sw-main
          .sw-item
            h2 Onsen Spa
            p Onsen sử dụng thuỷ liệu pháp đặc trưng của giới quý tộc Nhật Bản, mang đến sự thư giãn hoàn hảo, làm trẻ hóa cơ thể và phục hồi sức khỏe. 
            p Hồ nước khoáng nóng nhân tạo là nơi thích hợp để thư giãn, giải toả những mệt mỏi đồng thời giúp thu nạp dòng năng lượng sảng khoái cho cơ thể
          .sw-item
            img(src="./images/tienich8.png", alt="")
      section#t5
        .sw-main
          img(src="./images/tienich9.png", alt="")
          img.logotienich4(src="./images/logotienich2.png", alt="")
        .sw-main
          .sw-item
            h2 Hồ Bơi Nước Tràn Ruri
            p Thả mình vào làn nước tươi mát cùng mảng không gian xanh yên bình tại hồ bơi ngoài trời để tận hưởng cảm giác thư giãn, nghỉ dưỡng tuyệt vời.
          .sw-item
            img(src="./images/tienich10.png", alt="")

      section#t6
        .sw-main
          .sw-item
            h2 Công Viên Nyoko
            p Công Viên Chủ Đề Nyoko tái hiện những biểu tượng tinh hoa của nền văn hoá xứ sở Mặt trời mọc với cổng trời Torii, hoa Sakura, tiểu đình, đèn lồng... Đây chính là nơi lý tưởng để khám phá nét văn hoá nhân văn của đất nước Nhật Bản.
          .sw-item
            img.logotienich5(src="./images/logotienich5.png", alt="")
            img(src="./images/tienich11.png", alt="")

      section#t7
        .sw-main
          .sw-item
            h2 Vườn Hoa Haruko
            p Khu Vườn Haruko - tiện ích sinh thái độc đáo, thể hiện chuẩn mực của nghệ thuật sắp đặt và nghệ thuật sân vườn, tạo nên không gian đậm phong thái “Zen” - tịnh tâm và yên bình.
            img.logotienich6(src="./images/logotienich6.png", alt="")
            img(src="./images/tienich12.png", alt="")
          .sw-item
            img(src="./images/tienich13.png", alt="")

            h2 Công viên santoso
            p Công Viên Santoso được ươm mầm dựa trên triết lý phong thuỷ tương sinh thuỷ mộc. Thổi hồn vào nghệ thuật sắp đặt để mang đến sự an yên, tĩnh lặng và không gian thiên nhiên lý tưởng cho các thế hệ trong gia đình. Đặc biệt với khu tập dưỡng sinh dành cho ông bà giao lưu cộng đồng nâng cao sức khoẻ.

      section#t8
        .sw-main
          .sw-item
            img(src="./images/tienich14.png", alt="")
            h2 Cờ Cá Chép Koinobori
            p Cờ đón gió truyền thống mang hình dạng cá chép – biểu tượng của sự bản lĩnh, tính kiên định và hoài bão. Lễ hội cờ Cá chép vào các ngày lễ thiếu nhi vừa tạo ra hoạt động vui chơi cho trẻ em vừa hiện thực hóa câu chuyện tuổi thơ.
          .sw-item
            img.logotienich7(src="./images/logotienich7.png", alt="")
            h2 Hồ Cá Koi
            p Hồ Cá Koi mang sắc màu Nhật Bản đặc trưng, nằm trong tiểu cảnh khu vườn Haruko, không chỉ góp phần tạo cảnh quan mà còn đem đến sự may mắn, thành công, thịnh vượng cho cư dân. 
            img(src="./images/tienich15.png", alt="")
      
      section#t9
        .sw-main
          .sw-item
            img(src="./images/tienich18.png", alt="")
          .sw-item
            h2 Trung tâm thương mại Shibuya
            
            .sw-itemm
              img(src="./images/tienich16.png", alt="")
              img(src="./images/tienich17.png", alt="")
            p Trung tâm thương mại Shibuya với không gian được thiết kế độc đáo mô phỏng khu trung tâm mua sắm nổi tiếng nhất Tokyo, Nhật Bản. Nơi đây chính là “trái tim thấu hiểu” mọi nhu cầu của cư dân tại Takara Residence; nơi tích hợp những dịch vụ mua sắm, ăn uống và hoạt động vui chơi giải trí hiện đại với những thương hiệu đẳng cấp quốc tế.
      

      section#t10
        .sw-main
          .sw-item
            h2 Khu Phố Ẩm Thực Yatai
            p Mang đậm nét đặc trưng của ẩm thực đường phố Nhật Bản, phố ẩm thực Yatai là sự xuất hiện mới lạ, hứa hẹn mang đến những trải nghiệm mỹ vị độc đáo và là khu phố nhộn nhịp về đêm.
            img(src="./images/tienich19.png", alt="")
            h2 Khu Phố Ẩm Thực Kimochi
            p Thưởng thức ẩm thức tinh tuý Á - Âu ngay trong Phố ẩm thực Kimochi. Khu ẩm thực đa văn hóa là quần thể ẩm thực được kết hợp từ nhiều vùng miền trên khắp cả nước và thế giới.
            img(src="./images/tienich20.png", alt="")
           
          .sw-item
            h2 Lẩu Shabu Shabu
            img.logotienich8(src="./images/logotienich8.png", alt="")
            img(src="./images/tienich21.png", alt="")
            p Nhà hàng lẩu Shabu Shabu đem đến phong vị đặc trưng của đất nước Mặt Trời Mọc. Món lẩu truyền thống thanh vị, tốt cho sức khoẻ với sự hòa quyện của những nguyên liệu phong phú.



    script(src='js/style.js')